{margin: 0; padding: 0;}
body{
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    background-color: transparent;
    font-family: 'nikosh', sans-serif;
}
span{
    font-size: 12px;
}
table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
table th,
table td{padding: 0; margin: 0;}
h1, h2, h3, h4, h5, h6{margin: 0; padding: 0;}
/*@page { sheet-size: A4-P; }*/
p{
    margin: 0;
    padding: 0;
    text-align: justify;
}
@page {
    margin-top: 2in;
    margin-bottom: 0.8in;
    margin-left: 1.50in;
    margin-right: 1in;
}
